# Logdateien
*.log

# Konfiguration der Entwicklungsumgebung
.vscode/

# Byte-compiled 
**/__pycache__/

#Dateien
**.csv
**.CSV
!Alkanmix.csv
!Testfile_GC-MS_raw-data.CSV
!Testfile_transformed_data_file.csv
!Alkanmix-DCM-10mgL.CSV
!GC-MS_SDE-PVC_1-10_raw.CSV
!GC-MS_transformed_data_file.csv
!TD-GC_PVC-50C_TIC_raw.txt
!TD-GC_transformed_data_file.csv
**.ipynb
