# Logdateien
*.log

# Konfiguration der Entwicklungsumgebung
.vscode/

# Byte-compiled 
**/__pycache__/

#Dateien
**.csv
**.CSV
!Alkanmix.csv
!Testfile_GC-MS_raw-data.CSV
!Testfile_transformed_data_file.csv
**.ipynb
Backups/
paper.md
paper.bib
